<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.6.1"/>
    <customErrors mode="On" defaultRedirect="/Error?type=unknow">
      <error statusCode="400" redirect="/Error.aspx?type=400"/>
      <error statusCode="401" redirect="/Error.aspx?type=401"/>
      <error statusCode="403" redirect="/Error.aspx?type=403"/>
      <error statusCode="404" redirect="/Error.aspx?type=404"/>
      <error statusCode="405" redirect="/Error.aspx?type=405"/>
      <error statusCode="406" redirect="/Error.aspx?type=406"/>
      <error statusCode="500" redirect="/Error.aspx?type=500"/>
      <error statusCode="501" redirect="/Error.aspx?type=501"/>
      <error statusCode="502" redirect="/Error.aspx?type=502"/>
      <error statusCode="503" redirect="/Error.aspx?type=503"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <httpProtocol>
      <customHeaders>
        <!-- 先移除后添加，确保起作用 -->
        <remove name="Access-Control-Allow-Origin"/>
        <remove name="Access-Control-Allow-Headers"/>
        <remove name="Access-Control-Allow-Methods"/>
        <remove name="Access-Control-Allow-Credentials"/>
        <add name="Access-Control-Allow-Origin" value="https://www.yts233.tk"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="*"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>